/* Resetting default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Setting background color and font for the entire page */
body {
    background: linear-gradient(to bottom right, #28a745, #007bff);
    font-family: Arial, sans-serif;
}

/* Container for the main content */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Search bar style */
.search-bar {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align:center;
}

/* Tabs style */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.tab:hover {
    background-color: #0056b3;
}

.description,
.ingredients,
.cooking-time-and-difficulty {
    flex: 1;
    margin-right: 20px;
}

/* Box styles */
.box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Recipe image */
.recipe-image {
    margin-top: 20px;
}

.recipe-image img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 10px;
    text-align: center;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Recipe image styles */
.recipe-image-list {
    max-width: 150px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}