<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Recipe Page</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}" />
    <script src="{% static 'recipes/js/home.js' %}" defer></script>
  </head>
  {% include './navbar.html' %}

  <body>
    <center>
      <h1>Create A Recipe</h1>
      <br /><br />
      {% if submitted %} Your Recipe was Created! {% else %}

      <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-secondary" />
      </form>

      {% endif %}
    </center>
  </body>
</html>
