<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes Homepage</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}" />
    <script src="{% static 'recipes/js/home.js' %}" defer></script>
  </head>
  <body>
    {% include './navbar.html' %}
    <br />

    {% if searched %}
    <h1>You Searched For {{searched}}</h1>
    <br />
    {% for recipe in recipes %} {{ recipe }} <br />
    {% endfor %} {% else %}
    <h1>You didn't type a recipe!</h1>
    {% endif %}

    <!-- Dataframe written out-->
    <!-- {% if recipes_df %} {{recipes_df}} {% else %}
    <h3>no data</h3>
    {% endif %} -->

    <!-- Display the chart if it exists -->
      {% if chart %}
      <img class="chart-img" src="data:image/png;base64, {{ chart }}" alt="Chart" width="55%" height="700"/>
      {% else %}
      <p>No chart available.</p>
      {% endif %}
  </body>
</html>
